<h1>アドレス範囲の編集</h1>
<!--<h1>IPアドレス割当の編集</h1>-->

<% form_for(@network) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to '詳細', @network %> |
<%= link_to '戻る', networks_path %>
