  <p>
    <%= form.label :name, 'ログインID' %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :display_name, '表示名' %><br />
    <%= form.text_field :display_name %>
  </p>
  <p>
    <%= form.label :contact, '連絡先' %><br />
    <%= form.text_field :contact %>
  </p>
