<p>
  <b>ログインID:</b>
  <%=h @user.name %>
</p>

<p>
  <b>表示名:</b>
  <%=h @user.display_name %>
</p>

<p>
  <b>連絡先:</b>
  <%=h @user.contact %>
</p>

<p>
<b>デフォルトグループ:</b>
  <% if controller.admin_user? %>
    <%=h @user.default_group.display_name %>
  <% else %>
    <%=link_to @user.default_group.display_name, @user.default_group %>
  <% end %>
</p>

<%= link_to '編集', edit_user_path(@user) %>
<% if controller.admin_user? %>
| <%= link_to '戻る', users_path %>
<% end %>
