  <p>
    <%= form.label :group_id, '管理グループ' %><br />
    <%= h @mac_address.group.display_name %>
    <%= form.hidden_field :group_id %>
  </p>
  <p>
    <%= form.label :mac_addr, 'MACアドレス (例: 11:22:33:44:55:66)' %><br />
    <%= form.text_field :mac_addr %>
  </p>
  <p>
    <%= form.label :hostname, 'ホスト名' %><br />
    <%= form.text_field :hostname %>
  </p>
  <p>
    <%= form.label :ipv4_addr, 'IPv4アドレス (例: 100.120.130.140)' %><br />
    <%= form.text_field :ipv4_addr %>
  </p>
  <p>
    <%= form.label :ipv6_addr, 'IPv6アドレス' %><br />
    <%= form.text_field :ipv6_addr %>
  </p>
  <% if controller.admin_user? %>
  <p>
    <%= form.label :vlan_id, 'VLAN ID' %><br />
    <%= form.text_field :vlan_id %>
  </p>
  <p>
    <%= form.label :dhcp, 'DHCPを利用する' %><br />
    <%= form.radio_button :dhcp, true, :checked => @mac_address.dhcp  %>true
    <%= form.radio_button :dhcp, false, :checked => !@mac_address.dhcp  %>false
  </p>
  <% end %>
  <p>
  <% @location_ids = params[:locations] || @mac_address.location_ids %>
  <% @location_ids = controller.current_user.default_group.location_ids if @location_ids.empty? %>
  <% @locations = Location.selectable.all %>
  <%= label_tag :locations, '接続先' %><br />
  <% @locations.each do |location| %>
    <%= check_box_tag 'mac_address[location_ids][]', location.id, @location_ids.include?(location.id) %><%= h location.description %><br />
  <% end %>
  <%= hidden_field_tag 'mac_address[location_ids][]' %>
  </p>
  <p>
    <%= form.label :description, '備考' %><br />
    <%= form.text_field :description %>
  </p>
