<h1>ホスト名(別名)の編集</h1>

<% form_for :alias_name, @alias_name, :url => mac_address_alias_names_path(:id => @alias_name.id, :mac_address_id => @alias_name.mac_address_id), :html => {:method => :put}  do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to '詳細', mac_address_alias_name_path(:id => @alias_name.id, :mac_address_id => @alias_name.mac_address_id) %> |
<%= link_to '戻る', mac_address_path(:id => @alias_name.mac_address_id) %>
