  <p>
    <%= form.label :description, '設置場所' %><br />
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :hostname, 'ホスト名' %><br />
    <%= form.text_field :hostname %>
  </p>

  <p>
    <%= form.label :ipv4_addr, 'IPv4アドレス (例: 100.120.130.140)' %><br />
    <%= form.text_field :hostname %>
  </p>
  <p>
    <%= form.label :ipv6_addr, 'ホスト名' %><br />
    <%= form.text_field :ipv6_addr %>
  </p>
