  <p>
    <%= form.label :description, '接続先' %><br />
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :hostname, 'ホスト名' %><br />
    <%= form.text_field :hostname %>
  </p>
  <p>
    <%= form.label :hosttype, 'ホストの種類 (例: Apresia, Infoblox)' %><br />
    <%= form.text_field :hosttype %>
  </p>
  <p>
    <%= form.label :ipv4_addr, 'IPv4アドレス (例: 100.120.130.140)' %><br />
    <%= form.text_field :ipv4_addr %>
  </p>
  <p>
    <%= form.label :ipv6_addr, 'IPv6アドレス' %><br />
    <%= form.text_field :ipv6_addr %>
  </p>
  <p>
    <%= form.label :register_dns, 'DNSへの登録' %><br />
    <%= form.select :register_dns, [["登録する", true], ["登録しない", false]] %>
  </p>
  <p>
    <%= form.label :selectable, '接続先候補' %><br />
    <%= form.select :selectable, [["含める", true], ["含めない", false]] %>
  </p>
