<h1>設置場所一覧</h1>

<table>
  <tr>
    <th>設置場所</th>
    <th>ネットワーク機器</th>
    <th colspan=3></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%=h location.description %></td>
    <td><%=h location.hostname %></td>
    <td><%= link_to '詳細', location %></td>
    <td><%= link_to '編集', edit_location_path(location) %></td>
    <td><%= link_to '削除', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新規設置場所登録', new_location_path %>
