<h1>接続先一覧</h1>

<table>
  <tr>
    <th>接続先</th>
    <th>ネットワーク機器</th>
    <% if controller.admin_user? %>
    <th>ネットワーク機器の種類</th>
    <% end %>
    <th colspan=3></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%=h location.description %></td>
    <td><%=h location.hostname %></td>
    <% if controller.admin_user? %>
    <td><%=h location.hosttype %></td>
    <% end %>
    <td><%= link_to '詳細', location %></td>
    <td><%= link_to '編集', edit_location_path(location) %></td>
    <td><%= link_to '削除', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if controller.admin_user? %>
<%= link_to '新規接続先登録', new_location_path %>
<% end %>
