<h1>新規接続先<%=h '(サーバ設置場所)' if controller.admin_user? %>作成</h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>
  <p>
    <%= f.submit '作成' %>
  </p>
<% end %>

<%= link_to '戻る', locations_path %>
